[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version= '3.6'

[packages]
pyhaml = "*"
lml = '>=0.0.7'
Hamlish-Jinja = "*"

[dev-packages]
nose = "*"
mock = "*"
codecov = "*"
coverage = "*"
flake8 = "*"
